body {
  font-family: "Lato", sans-serif;
}

.site-header, .portfolio {
  @apply text-blue-100;
  /* @apply bg-blue-900; */
  background-color: rgb(29, 46, 83);
  /* background-color: rgb(46, 19, 7); */
  /* background-color: rgb(48, 68, 92); */
  background-image: url(/img/bg-trans.png);
  /* background-image: url(/img/bg.png); */
  /* background-image: url(/img/grid.png); */
}

.content {
  /* @apply text-brown-900; */
  p {
    @apply my-6;
    @apply text-lg;
  }
  .lead {
    @apply text-2xl;
  }
}

.category-images {
  display: grid;
  @apply mx-auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
