---
layout: layout
---
<section class="intro bg-blue-100 text-blue-900 shadow-inner py-8 sm:py-16">
  {% Container %}
    <div class="md:flex md:justify-between md:items-center md:-mx-4 md:flex-row-reverse">
      <div class="md:w-2/3 md:3/4 md:px-4 mb-6 md:mb-0">
        <div class="content">
          {{ content | safe }}
        </div>
      </div>
      <div class="md:w-1/3 md:px-4">
        <img src="{{ image }}" alt="" class="shadow-xl">
      </div>
    </div>
  {% endContainer %}
</section>

<section class="portfolio py-8 border-t px-16 text-center">
  <div class="container px-4 mx-auto">
    {% H2 'my-16 md:text-4xl' %}Product Design Portfolio{% endH2 %}
    {% for category in products %}
      <div class="mb-16">
        {% H3 'my-6 text-2xl' %}{{ category.title }}{% endH3 %}
        <div class="mt-4 sm:flex sm:justify-center sm:items-center">
        {% for product in category.products %}
          <div class="sm:w-auto sm:mr-2 mb-4">
            <img
              class="shadow-2xl w-full"
              src="/img/works/full/{{ product.img }}"
              alt="{{ product.title if product.title else category.title }}"
            >
          </div>
        {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
