---
layout: layout
---
<section class="intro bg-blue-100 shadow-inner py-8 sm:py-16">
  {% Container %}
    <div class="sm:flex sm:justify-between sm:items-center sm:-mx-4 sm:flex-row-reverse">
      <div class="sm:w-2/3 md:3/4 sm:px-4 mb-6 sm:mb-0">
        <div class="content">
          {{ content | safe }}
        </div>
        {#
        <div class="text-blue-900 text-lg leading-loose">
          <a class="mr-4 hover:underline" href="tel:{{ author.phone }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-phone-ring w-6 fill-current text-blue-900 inline-block mr-2"><path class="primary" d="M4 2h4a1 1 0 0 1 .98.8l1 5a1 1 0 0 1-.27.9l-2.52 2.52a12.05 12.05 0 0 0 5.59 5.59l2.51-2.52a1 1 0 0 1 .9-.27l5 1c.47.1.81.5.81.98v4a2 2 0 0 1-2 2h-2A16 16 0 0 1 2 6V4c0-1.1.9-2 2-2z"/><path class="secondary" d="M22 10a1 1 0 0 1-2 0 6 6 0 0 0-6-6 1 1 0 0 1 0-2 8 8 0 0 1 8 8zm-4 0a1 1 0 0 1-2 0 2 2 0 0 0-2-2 1 1 0 0 1 0-2 4 4 0 0 1 4 4z"/></svg>
            {{ author.phone }}
          </a>
          <br>
          <a class="hover:underline" href="mailto:{{ author.email }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-mail w-6 fill-current text-blue-900 inline-block mr-2"><path class="primary" d="M22 8.62V18a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8.62l9.55 4.77a1 1 0 0 0 .9 0L22 8.62z"/><path class="secondary" d="M12 11.38l-10-5V6c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v.38l-10 5z"/></svg>
            {{ author.email }}
          </a>
        </div>
        #}
      </div>
      <div class="sm:w-1/3 md:1/4 sm:px-4">
        <img src="{{ image }}" alt="" class="shadow-xl">
      </div>
    </div>
  {% endContainer %}
</section>

<section class="portfolio py-8 border-t px-16 text-center">
  <div class="container px-4 mx-auto">
    {% H2 'my-16 md:text-4xl' %}Product Design Portfolio{% endH2 %}
    {% for category in products %}
      <div class="mb-16">
        {% H3 'my-6 text-2xl' %}{{ category.title }}{% endH3 %}
        <div class="mt-4 sm:flex sm:justify-center sm:items-center">
        {% for product in category.products %}
          <div class="sm:w-auto sm:mr-2 mb-4">
            <img
              class="shadow-2xl w-full"
              src="/img/works/full/{{ product.img }}"
              alt="{{ product.title if product.title else category.title }}"
            >
          </div>
        {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
