---
layout: layout
services:
  - Mechanical Design
  - Solid Modeling
  - "Drafting: Assembly/Detail drawings"
  - Bills of Materials
  - Technical Manuals
  - Illustrations
  - Patent Drawings
background:
  - 50 plus years experience in mechanical design
  - Results oriented; have led three engineering departments
  - Detail minded with an eye for hidden problems
  - Designed castings, molded plastics, sheet metal, extrusions, weldments, machined parts
---

<section class="intro">
  <div class="container">
    <div>
      <h2>Services</h2>
      <ul>
        {% for service in services %}
        <li>{{ service }}</li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <h2>Background</h2>
      <ul>
        {% for item in background %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <img src="/img/jim-jamesson-with-flounder.jpg" alt="{{ author.name }}">
    </div>
  </div>
</section>

<section class="portfolio">
  <div class="container">
    <h2>Product Design Portfolio</h2>

    {% for category in products %}
    <div style="margin-bottom: 6rem;">
      <h3 id="{{ category.title | slug }}">{{ category.title }}</h3>
      <div style="display: flex; justify-content: flex-start; align-items: center;">
      {% for product in category.products %}
        <img src="/img/works/full/{{ product.img }}" alt="{{ product.title }}" style="border: solid 1px #ccc; margin-right: 1rem;">
      {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
